/* styles.css or styles.scss */
 

.book-item {

  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 45%;
  text-align: center;
  margin-left: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.book-info {
  display: flex;
  align-items: center;
}

.index {
  margin-right: 10px;
}

.title {
  margin: 0;
}

.book-image {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin-right: 10px;
}

.amount {
  margin-top: 10px;
}

body{
  background-color: red;
}